<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-title>
      Videos app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="">
  <img src="assets/images/58411222_562041554319920_5364165886414422016_n.jpg" max-width="100px" max-height="100px" alt="Imagem não encontrada" style="align-items:center;">
  <h1>Hi pizza</h1>
  <p>Projeto em desenvolvimento a qual tende a prover o uso da ferramenta ionic</p>
  <p>para oferecer um sistema completo de serviço</p>
  <a href="#" target="_blank"><p>Link do nosso Whatsapp</p></a>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
